* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.Head{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url("../Images/Home.jpg");
    position: relative;
    background-size: cover;
    background-position: center;

}

.navFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 6%;
    font-size: 17px;

}

.Logo{
    width: 120px;
    height: 70px;
}
nav li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 18px;

}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    text-decoration: none;
    color:#ffca2cc4
}

.SearchBar{
    height: 28px;
    display: flex;
    cursor: pointer;
    padding: 7px 7px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.SearchBar input{
    width: 0px;
    outline: none;
    border: none;
    font-weight: 300;
    transition: 1s;
    background: transparent;
}

.SearchBar:hover input{
    width: 100px;
}
.SearchBar a .fas{
    color: #ffca2cc4;
    font-size: 18px;
}

.icons a{
    text-decoration: none;
}

.icon{
    color: white;
}

.icon:hover{
    color: #ffca2cc4;
}

.title{
    padding: 20px;
}

.title h2 {
    text-align: center;
    font-size: 60px;
    color: rgba(255, 193, 6, 0.769);

}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 50px;
    }

 .developer{
     margin: 10px 135px;
    }

 .card {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    border-radius: 10px;
    }

    .card h2 {
    margin-top: 10px;
    }

    .card img {
     border-radius: 70px;
     width: 50%;
    }

    #img{
     width: 100%;
    }

    .tittle {
    color: grey;
    font-size: 18px;
    }

    p{
    margin-top: 10px;
    }

    button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:#ffca2cc4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 30px;
    }

    a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    }

    button:hover, a:hover {
        opacity: 0.7;
        }

        .Homevid{
            /* position: absolute; */
            width: 100%;
            right: 0px;
            bottom: 0px;
            z-index: -1;
            height: 60vh;
            }



@media screen and (max-width: 1123px) {
    .Head {
        height: 80vh;
    }

    .navFlex {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .Logo {
        margin-bottom: 20px;
    }

    nav ul li {
        display: block;
        padding: 10px 0;
    }

    .SearchBar {
        display: none;
    }

    .icons {
        display: none;
    }
}

